.header {
    width: 100%;
    background: #dddddd;
    padding: 1em;
    margin: 0 0 1em 0;
}

.header_buttons {
    text-align: center;
}

.header_listing {
    text-align: left;
}

.machine_block {
    margin: 1em;
}

.machine_block_no_space {
    overflow-x: auto;
}

.machine_description {
    padding: 0.2em 1em;
    border: 1px solid black;
    border-radius: 1em;
}

.machine_description_waiting {
    background: #80dddd;
}

.machine_description_correct {
    background: limegreen;
}

.machine_description_incorrect {
    background: #dd8080;
}

.machine_history {
}

.cpu {
    border: 1px solid #000;
    border-radius: 1em;
    margin: 1em;
}

.cpu_running {
    background: limegreen;
}

.cpu_waiting {
    background: #80dddd;
}

.cpu_error {
    background: #dd8080;
}

.cpu_unused {
    background: lightgrey;
}

.cpu_state {
    padding: 0.5em;
}

.code {
    white-space: pre;
    font-family: monospace;
    font-weight: bold;
    /*border-radius: 1em;*/
    background: black;
    color: limegreen;
    padding: 1em;
    overflow-x: hidden;
}

.cpu_error .code {
    background: #eeeeee;
    color: black;
}

.cpu_waiting .code {
    background: #eeeeee;
    color: black;
}

.code_line_actual {
    background: limegreen;
    color: black;
}

.cpu_waiting .code_line_actual {
    background: #80dddd;
    color: black;
}

.value {
    border: 1px solid black;
    border-radius: 1em;
    background: lightgrey;
    white-space: pre;
    padding: 0.2em 0;
}

.value_empty {
    background: transparent;
}

.value_empty .value_holder {
    background: transparent;
}

.value_holder {
    border-radius: 1em;
    background: white;
    padding: 0.2em 0.5em;
}

.value_input_queue_not_read {
    background: #80dddd;
}

.value_input_queue_correct {
    background: limegreen;
}

.value_output_queue_correct {
    background: limegreen;
}

.value_output_queue_incorrect {
    background: #dd8080;
}

.value_output_queue_not_written {
    background: #80dddd;
}
